[submodule "AIU-API-Gateway-Express"]
	path = AIU-API-Gateway-Express
	url = https://github.com/angelolamonaca/AIU-API-Gateway-Express.git
[submodule "AIU-Auth-Service"]
	path = AIU-Auth-Service
	url = https://github.com/angelolamonaca/AIU-Auth-Service.git
[submodule "AIU-Wallet-Service"]
	path = AIU-Wallet-Service
	url = https://github.com/angelolamonaca/AIU-Wallet-Service.git
[submodule "AIU-Frontend"]
	path = AIU-Frontend
	url = https://github.com/angelolamonaca/AIU-Frontend.git
